.container {
    display: flex;
    background-color: white;
    height: 75px;
    align-items: center;
}

.title {
    margin-right: auto;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

.dropbtn {
    background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 75px;
    width: 200px;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#more .dropbtn {
    width: 100px;
    font-size: 40px;
    background-color: #1c467d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Button hover background color */
.dropdown:hover .dropbtn {background-color: #4EB251;}
#more:hover .dropbtn {background-color: #255DA7;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
