.banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-container img {
    display: block;   
    filter: brightness(50%)
}

.banner-container .overlay-text {
    position: absolute; 
    top: 30%;
    left: 20px; 
    
    color: white;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
}
