version: '3.8'
services:
  fastapi:
    build: .
    environment:
      RUN_SEED_ON_STARTUP: "true"
    container_name: fastapi-server
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

