.card-container {
    height: 100px;
    width: 100%;
    background-color: #1c467d;
    padding: 30px;
    border: solid 1px black;
    color: white;
}

.card-container:hover {
    background-color: #467D1C;
}

.card-container h1, h3 {
    padding: 0px;
    font-size: 30px;
    font-family: sans-serif;
    width: 80%;
}

.card-container h1 {
    margin-bottom: 30px;
}

.card-container h3 {
    font-size: 20px;
}
